.anime-list{
  overflow-x: scroll;
  overflow-y: hidden;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    text-align: center;
    height: 60vh;
    /* overflow: visible; */
}
.trendrotate{
  border: 1px solid #333;
  border-radius: 5px;
    margin: 1vw;
    

    box-shadow: rgb(0  0 0/70%) 0px 26px 30px -10px, 
    rgb(0  0 0/75%) 0px 16px 10px -10px;
    border-radius: 20px;
}
.trendrotate img {
    height: 15vw;
    width: 15vw;
    
  }
 .anime-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.anime-list {
-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;   /* Firefox */
}